
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
  <div>
    <ul class="navbar-nav">
       
      <li>
        <a href="">
          <img class="logo-dark" src="../../assets/img/logo-purple.png" srcset="../../assets/img/logo-purple@2x.png 2x" alt="" />
       
          <img class="logo-light" src="../../assets/img/logo-light.png" srcset="../../assets/img/logo-light@2x.png 2x" alt="" />
        </a>
      </li>
      <li class="nav-item"><a class="nav-link" href="">WHAT WE DO?</a>
      
        <!--/.dropdown-menu -->
      </li>
      <li class="nav-item"><a class="nav-link" href="">CHOOSE US?</a>
       
      </li>
      <li class="nav-item "><a class="nav-link " href="">SOLUTIONS</a>
       
      </li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="">CASE STUDIES</a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="dropdown-item" href="">CASE STUDIES 1</a></li>
          <li class="nav-item"><a class="dropdown-item" href="">CASE STUDIES 2</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="" routerLink="/one">WHO ARE WE?</a>
        
        <!--/.dropdown-menu -->
      </li>
      <li class="nav-item"><a class="nav-link" href="" routerLink="/tow">WHO ARE WE?</a>
        
        <!--/.dropdown-menu -->
      </li>
      <li class="nav-item d-none d-md-block">
        <a href="#" class="btn btn-sm btn-white rounded-pill">Free Trial</a>
      </li>
      <li class="nav-item d-lg-none">
        <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
      </li>
    </ul>
 
  </div>

</nav>
 
  <app-whatwedo></app-whatwedo>
<app-whatdewho2></app-whatdewho2>
<app-studies></app-studies>
<app-whoarewe></app-whoarewe>
<app-pricing></app-pricing>
<app-footer></app-footer>

